.NewBlogCard {
    margin: 16px;
    padding: 16px;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 2px 5px #ccc;
    background-color: #add8e6;

    font-size: 24px;
  }

  .NewBlogCard > button {
    font-size: 24px;
  }

  .LikeCount {
      font-weight: 600;
      font-size: 28px;
  }

  @media (min-width: 992px) {
    .NewBlogCard {
        width: 50%;
        display: inline-block;
    }
  }